fairseq==0.10.2
fastBPE==0.1.0
huggingface-hub==0.5.1
matplotlib==3.4.3
numpy==1.22.3
pandas==1.4.2
pytorch-crf==0.7.2
scikit-learn==0.24.2
scipy==1.8.0
sklearn==0.0
spacy==2.3.5
srsly==1.0.5
tokenizers==0.12.1
torch==1.9.0
tqdm==4.62.2
vncorenlp==1.0.3
